## Generating the Dataset

Generates loan data over a three-year period (from three years ago up to April 22, 2024). It randomly creates loan records with details such as loan ID, borrower ID, loan amount, start date, maturity date, loan type, status (active or completed), investor count, profit percentage, repayment amount with interest, and risk rating. 

The script iterates through each month within the date range, randomly determines the number of loans for each month, and populates loan details accordingly. Finally, it saves the generated loan data into a JSON file named "loans_data.json" with a structured format using the `json.dump()` function.

In [1]:
import json
import random
import pandas as pd
from datetime import datetime, timedelta

end_date = datetime(2024, 4, 22)
start_date = end_date - timedelta(days=3*365)  # Three years ago

loans = []
loan_id_counter = 1  # Starting counter for unique loan IDs

current_date = start_date
while current_date <= end_date:
    num_loans = random.randint(1000, 2000)

    for _ in range(num_loans):
        loan_id = f"L{loan_id_counter}"
        borrower_id = random.randint(1, 100)
        loan_amount = random.randint(5000, 50000)
        start_date = current_date.replace(day=random.randint(1, 22))
        maturity_date = start_date + timedelta(days=random.randint(180, 1095))  # Loan duration between 6 months to 3 years
        loan_type = random.choice(["Personal", "Business", "Mortgage"])
        status = random.choice(["Active", "Completed"])
        investors_count = random.randint(1, 20)
        profit_percentage = random.randint(5, 15)
        repayment_amount_with_interest = int(loan_amount * (1 + profit_percentage / 100))
        risk_rating = random.choice(["Low", "Medium", "High"])

        loan_data = {
            "borrower_id": borrower_id,
            "loan_id": loan_id,
            "loan_amount": loan_amount,
            "start_date": start_date.strftime("%Y-%m-%d"),
            "maturity_date": maturity_date.strftime("%Y-%m-%d"),
            "loan_type": loan_type,
            "status": status,
            "investors_count": investors_count,
            "profit_percentage": profit_percentage,
            "repayment_amount_with_interest": repayment_amount_with_interest,
            "risk_rating": risk_rating
        }
        loans.append(loan_data)

        loan_id_counter += 1

    current_date = current_date + timedelta(days=30) 

data = {"loans": loans}

with open("loans_data.json", "w") as f:
    json.dump(data, f, indent=4)

print("Generated loan data saved to 'loan_data.json'")

Generated loan data saved to 'loan_data.json'

*********************

## Informations and statistics about the dataset

In [2]:
with open('loans_data.json', 'r') as json_file:
    loan_data = json.load(json_file)

loans_df = pd.DataFrame(loan_data['loans'])

loan_stats = loans_df.describe(include='all')

total_loans = len(loans_df)
total_loan_amount = loans_df['loan_amount'].sum()
average_loan_amount = loans_df['loan_amount'].mean()
max_loan_amount = loans_df['loan_amount'].max()
min_loan_amount = loans_df['loan_amount'].min()
active_loans = (loans_df['status'] == 'Active').sum()
completed_loans = (loans_df['status'] == 'Completed').sum()

risk_rating_counts = loans_df['risk_rating'].value_counts()

loan_type_counts = loans_df['loan_type'].value_counts()

print(f"Total number of loans: {total_loans}")
print(f"Total loan amount across all loans: ${total_loan_amount}")
print(f"Average loan amount: ${average_loan_amount}")
print(f"Largest loan amount: ${max_loan_amount}")
print(f"Smallest loan amount: ${min_loan_amount}")
print(f"Number of active loans: {active_loans}")
print(f"Number of completed loans: {completed_loans}")


print("\nRisk Rating Distribution:")
print(risk_rating_counts)

print("\nLoan Type Distribution:")
print(loan_type_counts)

Total number of loans: 54077
Total loan amount across all loans: $1487621688
Average loan amount: $27509.32352016569
Largest loan amount: $49999
Smallest loan amount: $5000
Number of active loans: 27040
Number of completed loans: 27037

Risk Rating Distribution:
High      18114
Medium    18104
Low       17859
Name: risk_rating, dtype: int64

Loan Type Distribution:
Mortgage    18139
Personal    17970
Business    17968
Name: loan_type, dtype: int64

In [3]:
loans_df['start_date'] = pd.to_datetime(loans_df['start_date'])

loans_df['loan_year'] = loans_df['start_date'].dt.year

loan_counts_by_year = loans_df['loan_year'].value_counts().sort_index()

print("Number of Loans for Each Year:")
print(loan_counts_by_year)

Number of Loans for Each Year:
2021    12235
2022    18330
2023    17288
2024     6224
Name: loan_year, dtype: int64

In [4]:
print(loans_df['start_date'].min())
print(loans_df['start_date'].max())
print(loans_df['maturity_date'].min())
print(loans_df['maturity_date'].max())

2021-04-01 00:00:00
2024-04-22 00:00:00
2021-10-01
2027-04-21

In [5]:
print("\nDetailed Loan Statistics:")
loan_stats

Detailed Loan Statistics:

,borrower_id,loan_id,loan_amount,start_date,maturity_date,loan_type,status,investors_count,profit_percentage,repayment_amount_with_interest,risk_rating
count,54077.000000,54077,54077.000000,54077,54077,54077,54077,54077.000000,54077.000000,54077.000000,54077
unique,NaN,54077,NaN,814,2011,3,2,NaN,NaN,NaN,3
top,NaN,L1,NaN,2023-02-20,2024-12-25,Mortgage,Active,NaN,NaN,NaN,High
freq,NaN,1,NaN,116,72,18139,27040,NaN,NaN,NaN,18114
mean,50.573571,NaN,27509.323520,NaN,NaN,NaN,NaN,10.546591,9.984799,30256.619894,NaN
std,28.854541,NaN,13006.518267,NaN,NaN,NaN,NaN,5.760193,3.162270,14339.105593,NaN
min,1.000000,NaN,5000.000000,NaN,NaN,NaN,NaN,1.000000,5.000000,5254.000000,NaN
25%,26.000000,NaN,16271.000000,NaN,NaN,NaN,NaN,6.000000,7.000000,17885.000000,NaN
50%,51.000000,NaN,27475.000000,NaN,NaN,NaN,NaN,11.000000,10.000000,30200.000000,NaN
75%,76.000000,NaN,38812.000000,NaN,NaN,NaN,NaN,16.000000,13.000000,42677.000000,NaN
max,100.000000,NaN,49999.000000,NaN,NaN,NaN,NaN,20.000000,15.000000,57481.000000,NaN